<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
</head>
<body>
    {{ content }}
    <script>
        // 許可するリファラードメイン
        const allowedReferer = 'https://password-check-serverless.vercel.app/';
        // リファラ情報を取得
        const referrer = document.referrer;
        // リファラが許可されたドメインではない、またはリファラがない場合はリダイレクト
        if (referrer === '' || !referrer.startsWith(allowedReferer)) {
            window.location.href = 'https://example.com/';
        }
    </script>
</body>
</html>